<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>

    <key>CFBundleExecutable</key>
    <string>fontview</string>

    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>

    <key>CFBundlePackageType</key>
    <string>APPL</string>

    <key>CSResourcesFileMapped</key>
    <true/>

    <key>CFBundleVersion</key>
    <string>%(LONG_VERSION)s</string>

    <key>CFBundleShortVersionString</key>
    <string>%(SHORT_VERSION)s</string>
 
    <key>CFBundleName</key>
    <string>FontView</string>

    <key>CFBundleLocalizations</key>
    <array>
      <string>en</string>
    </array>

    <key>NSPrincipalClass</key>
    <string>NSApplication</string>

    <key>CFBundleDocumentTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>ttf</string>
          <string>otf</string>
          <string>ttc</string>
          <string>otc</string>
          <string>pfa</string>
          <string>pfb</string>
        </array>

        <key>CFBundleTypeRole</key>
        <string>Viewer</string>

        <key>LSIsAppleDefaultForType</key>
        <true/>

        <key>LSTypeIsPackage</key>
        <false/>
     </dict>
   </array>
  </dict>
</plist>
