[submodule "src/third_party/gyp"]
	path = src/third_party/gyp
	url = https://chromium.googlesource.com/external/gyp
[submodule "src/third_party/freetype/freetype2"]
	path = src/third_party/freetype/freetype2
	url = git://git.sv.nongnu.org/freetype/freetype2.git
[submodule "src/third_party/wxWidgets/wxWidgets"]
	path = src/third_party/wxWidgets/wxWidgets
	url = https://github.com/wxWidgets/wxWidgets.git
[submodule "src/third_party/harfbuzz/harfbuzz"]
	path = src/third_party/harfbuzz/harfbuzz
	url = https://github.com/behdad/harfbuzz.git
